*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container
{
  width: 1300px;
  height:1500px;
}

.container h1
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: red;
}
.menu
{
    margin-left:250px
}

.menu a
{
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(158, 42, 197);
  margin-left: 50px;
  padding-left: 5px;
}

.box
{
  margin-left:150px
   
}
.store-img 
{
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid blue;
   
    


}